<!DOCTYPE html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <form action="/register" method="POST">
    <input type="text" name="name" placeholder="Name" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Sign Up</button>
  </form>
  
  <p>Already have an account? <a href="/login">Sign in</a>.</p>
</body>
</html>
